
body {
    font-family: 'Verdana', 'Arial', sans-serif;
}

span {
    font-style: normal;
    font-size: smaller;
    color: #808080;
}

.emu-container {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.emu-window {
    display: -webkit-flex; /* Safari */
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 0;
    height: 0;
}

.emu-left, .emu-right {
    width: 60px;
    background: #3b3b3b;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
}

.emu-middle {
    background: #3b3b3b;
    flex-grow: 1;
}

.emu-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.emu-row:after {
    content: "";
    display: table;
    clear: both;
}

.emu-led-box {
    display: block;
    margin-left: 10px;
    margin-top: 5px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.emu-led-group-separator {
    margin-top: 20px;
}

.emu-led-box:after {
    content: "";
    display: table;
    clear: both;
}

.emu-led {
    float: left;
    background: #005000;
    outline-color: #808080;
    outline-style: inset;
    outline-width: 2px;
    height: 6px;
    min-height: 6px;
    width: 4px;
    min-width: 4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.emu-led-on {
    background: #00c000;
}

.emu-led-description {
    float: left;
    text-align: center;
    color: #808080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
    margin-left: 7px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.emu-logo {
    margin-left: 14px;
    margin-bottom: 5px;
}

.emu-version {
    float: left;
    text-align: center;
    color: #808080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
    min-width: 60px;
    margin-bottom: 10px;
}

.emu-cpu-usage {
    float: left;
    color: #808080;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-small;
    margin-bottom: 10px;
    margin-left: 10px;
}

.emu-topmargin {
    margin-top: 10px;
}

.buttongroupmargin {
    margin-top: 10px;
}

.emu-menu-middle {
    flex-grow: 1;
}

/* Chrome, Safari and Opera syntax */
:-webkit-full-screen {
    background-color: #000000;
}

/* Firefox syntax */
:-moz-full-screen {
    background-color: #000000;
}

/* IE/Edge syntax */
:-ms-fullscreen {
    background-color: #000000;
}

/* Standard syntax */
:fullscreen {
    background-color: #000000;
}

.input-panel {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    height: 350px;
    min-height: 350px;
}

.key-info {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}

.key-title {
    font-style: normal;
    width: 120px;
    min-width: 120px;
    margin-left: auto;
}

.key-data {
    font-style: normal;
    font-weight: bold;
    width: 120px;
    min-width: 120px;
    margin-right: auto;
}

.keyboard-config {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
}

.keyboard-image {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: row;
}

.config-image-container {
    position: relative;
    height: 220px;
    min-height: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.config-image-keyboard {
    width: 590px;
    min-width: 590px;
}

.config-image-joystick {
    width: 295px;
    min-width: 295px;
}

.keyboard {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.keyboard-key {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1px;
    height: 1px;
    z-index: 100;
    background: url(img/empty.png) -45px -51px;
}




.inputConfigModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.inputConfigModal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 640px;
    min-width: 640px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.inputConfigModal-body {
    padding: 2px 16px;
}

.inputConfigModal-footer {
    padding: 2px 16px;
    background-color: #3b3b3b;
    color: white;
}

.modalHeader {
    padding: 2px 16px;
    background-color: #3b3b3b;
    color: white;
    min-height: 30px;
}

.modalClose {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -9px;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalHeaderText {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li span {
    cursor: pointer;
    display: block;
    color: #666;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
}

li span:hover:not(.active) {
    background-color: #ddd;
}

li span.active {
    color: white;
    background-color: #4CAF50;
}
